extends layout

block content
    h1.
        Marker List
    ul
        each marker, i in markerlist
            li
               p=marker.pseudo
               p=marker.latitude
               p=marker.longitude
               p=marker.year
               p=marker.desc
               p=marker.url